body
{
    background-color: yellow;
}

:root{
    --orange: #fc960c
}

textarea
{
    width: 50%;
    height: 13vh;

    padding: 1rem;
    border-radius: 1rem;
    display: block;
    margin: auto;
}

#output
{
    display: block;
    border: 1px solid black;
    height: 20vh;
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;

   

}

.output-text
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.margin
{
    margin: 1rem;
    text-align: center;
}

#btn-translate
{
    display: block;
    background-color: var(--orange);
    width: 80px;
    height: 40px;
    border-radius: 0.8rem;
    border: none;
    margin: auto

}
.orange
{
    color: var(--orange);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer
{
    height: 15vh;
    background-color: var(--orange);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

footer i
{
    color: red;
}
.text-center
{
    padding-top: 30px;
    text-align: center;
}